<div id="<%= id %>" class="Card">
  <div class="Card-header">
    <%= header %>
  </div>
  <% sections.each do |section| %>
    <div class="Card-section">
      <%= section %>
    </div>
  <% end %>
  <div class="Card-footer">
    <%= footer %>
  </div>
</div>
