.Card {
  border: 1px solid black;
  margin-bottom: .5rem;
}

.Card-header {
  padding: .5rem;
  border-bottom: 1px solid black;
}

.Card-section {
  padding: .5rem;
}

.Card-section + .Card-section {
  padding: .5rem;
  border-top: 1px solid silver;
}

.Card-section--large {
  padding: 1.5rem .5rem;
}

.Card-footer {
  padding: .5rem;
  border-top: 1px solid black;
}
