<div class="media-object">
  <div class="media-object__media">
    <%= media_object.media.block_content %>
  </div>
  <div class="media-object__body">
    <%= media_object.body.block_content %>
  </div>
</div>
