name: Ruby

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.1.7'
          - '4.0.1'
        gemfile:
          - 'rails_7' # 7.2
          - 'rails_8' # 8.1
        exclude:
        - ruby: '3.1.7'
          gemfile: 'rails_8'
        - ruby: '4.0.1'
          gemfile: 'rails_7'
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Build and test
      run: |
        bundle exec rubocop
        bundle exec rake
